@model IEnumerable<Common.ViewModels.HangHoaViewModel>
@using Common.Ultil

    @foreach (var item in Model)
    {
        FormatNumber number = new FormatNumber();
     <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Tên Hàng Hóa
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="tenhanghoa" value="@item.tenHangHoa" class="form-control" style="margin-left:5px" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Gía Bán
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="giaban" value="@number.FormatNumbers(@item.giaBan.ToString())" class="form-control" style="margin-left:5px" />
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                           Giảm giá
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="giaban" value="@item.giamGia" class="form-control" style="margin-left:5px" />
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Số lượng tồn
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="giaban" value="@item.soLuongTon" class="form-control" style="margin-left:5px" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Đơn vị tính
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="donvitinh" value="@item.donViTinh" class="form-control" style="margin-left:5px" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Mô Tả
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <textarea type="text" name="mota"  class="form-control" style="margin-left:5px">@item.moTa</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Xuất Xứ
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="xuatxu" value="@item.xuatXu" class="form-control"  style="margin-left:5px" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Thời Gian Bảo Hành
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="number" name="thoigianbaohanh" value="@item.thoiGianBaoHanh" min=0 class="numericOnly form-control" style="margin-left:5px" />
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Xuất Xứ
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="giaban" value="@item.xuatXu" class="form-control" style="margin-left:5px" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Thông Số Kỹ Thuật
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <textarea type="text" name="thongsokythuat" class="form-control" style="margin-left:5px">@item.thongSoKyThuat</textarea>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Hình Ảnh
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <img id="preview" src ="@item.hinhAnh" width="300px" />
                        </div>
                    </div>

                   <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12">
                        Loại Hàng Hóa
                    </label>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        @Html.DropDownList("loaihanghoa", new SelectList(ViewBag.loaihanghoa, "Value", "Text"), new { @class = "form-control", style = "margin-left:5px" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12">
                        Trạng Thái
                    </label>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        @Html.DropDownList("trangthai", new SelectList(@ViewBag.data, "Value", "Text"), new { @class = "form-control", style = "margin-left:5px" })
                    </div>
                </div>
    }
