@model IList<Common.ViewModels.HangHoaViewModel>

    @{
        ViewBag.Title = "Thông tin hàng hóa";
        Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
    }
    <link href="~/Content/Css/SonCustomWebgird.css" rel="stylesheet" />

    <section id="page-content">
        <div class="header-content">
            <h2><i class="fa fa-list-alt"></i> Hàng hóa</h2>
            <div class="breadcrumb-wrapper hidden-xs">
                <button class="btn btn-lg btn-success btn-xs btn-push" onclick="@("window.location.href='" + @Url.Action("Index", "HangHoa") + "'"); ">
                    <i class="glyphicon glyphicon-arrow-left"></i> Quay lại
                </button>
                <button class="btn btn-lg btn-primary btn-xs btn-push" onclick="@("window.location.href='" + @Url.Action("Index", "HangHoa") + "'"); ">
                    <i class="fa fa-list"></i>
                    Danh sách hàng hóa
                </button>
            </div>
        </div>

        <div class="body-content animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <!-- Start input fields - basic form -->
                    <div class="panel rounded shadow">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title">@ViewBag.Title</h3>
                            </div>

                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->

                        <div class="panel-body no-padding">
                            @using (Html.BeginForm())
                            {
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_panel">
                                                <div class="row">
                                                    @{Html.RenderAction("ThongTinHangHoa", "HangHoa");}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-5 col-sm-offset-3 ">
                                            @Html.ActionLink("Quay Lại", "Index", null, new { @class = "btn btn-default" })
                                        </div>
                                    </div>

                                </div>
                            }
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                    <!--/ End input fields - basic form-->
                </div><!-- /.col-md-6 -->
            </div>
        </div>
    </section>

