@model List<Common.ViewModels.BaoCaoTonKhoViewModel>
@using Common.ViewModels
@{
    ViewBag.Title = "Báo cáo tồn kho";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}

<link href="~/Content/Css/SonCustomWebgird.css" rel="stylesheet" />
<link href="../../Content/foundation/foundation.css" type="text/css" rel="Stylesheet" />
<link href="../../Content/DataTables-1.9.4/foundation/dataTables.foundation.css" type="text/css" rel="Stylesheet" />
<link rel="stylesheet" href="../../Content/foundation/foundation_icons_general/stylesheets/general_foundicons.css">


<div class="page-title">
    <div class="title_left">
        <h2>@ViewBag.Title</h2>
    </div>
    <ul class="nav navbar-right panel_toolbox">
        <li class="dropdown">
            <ul class="nav navbar-right panel_toolbox">
                <li class="dropdown">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Xuất Báo Cáo
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("XuatFilePDF", "BaoCaoTonKho")" style="font-family:'Times New Roman', Times, serif">
                                    Xuất file PDF
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("XuatFileEXE", "BaoCaoTonKho")" style="font-family:'Times New Roman', Times, serif">
                                    Xuất file Excel
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div>
    <div class="x_panel">
        <div class="x_content">
            @using (Ajax.BeginForm("DanhSachBaoCaoTonKho", "BaoCaoTonKho", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "list", HttpMethod = "Get" }, new { id = "filter_div" }))
            {
                <div class="form-group clearfix">
                    @*<div class="col-md-6 col-sm-6 col-xs-12">
                            <label> Tháng</label>
                            <select id="thang" name="thang" style="width:99%">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>*@
                    <label class="control-label">Tháng</label>
                    <div class="input-group">
                        @Html.TextBox("thang", null, new { @class = "form-control", @placeholder = "Nhập tháng" })
                        @Html.TextBox("nam", null, new { @class = "form-control", @placeholder = "Nhập năm" })
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            }
            <div id="list">
                @{Html.RenderAction("DanhSachBaoCaoTonKho", "BaoCaoTonKho");}
            </div>
        </div>
    </div>
</div>
