@*
    Access data by model EmployeeViewModel
    If only use normal model: Common.Models.TenModel
*@

@model Common.Models.NhanVien

@{
    // Change Title by page's name
    ViewBag.Title = "Cập nhật mật khẩu";

    // Inheritance layout (not change)
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";

    // Get data from ViewBag and fill in WebGrid
    //     - source: data
    //     - rowsPerPage: number of row to show on page
    var employee = ViewBag.employee;

}

@*
    Link to css: located at the top to avoid breaking css if connections have problems making the site load incomplete
*@
<link href="~/Content/Css/Webgird.css" rel="stylesheet" />
<link href="~/Content/Css/CheckMark.css" rel="stylesheet" />
@* Page title và Search section *@
<div class="page-title">
    @*
        Page title
    *@
    <div class="title_left">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

@*
    Section input for user
    Note: Notice the path and method of action to point to the correct form
*@
<div>
    @using (Html.BeginForm("UpdatePassword", "Home", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "form" }))
    {
        <div class="form-group">
            @Html.Label("Mật khẩu cũ *", new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBox("Oldpassword", null, new { @class = "form-control col-md-7 col-xs-12", @type = "password", @maxlength = "14", @id = "OldPassword" })
                <div class="icon icon--order-success svg">
                    <svg width="40px" height="30px" class="notifyOldPassword hidden">
                        <g fill="none" stroke="#FF6969" stroke-width="2">
                            <circle cx="19" cy="15" r="10" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                            <path d="m19,15l-4.3,-4.3" style="stroke-dasharray: 50px, 50px; stroke-dashoffset: 10px;"></path>
                            <path d="m19,15l4.3,4.3" style="stroke-dasharray: 50px, 50px; stroke-dashoffset: 10px;"></path>
                            <path d="m19,15l-4.3,4.3" style="stroke-dasharray: 50px, 50px; stroke-dashoffset: 10px;"></path>
                            <path d="m19,15l4.3,-4.3" style="stroke-dasharray: 50px, 50px; stroke-dashoffset: 10px;"></path>
                        </g>
                    </svg>
                </div>
            </div>
            <h3 class="messageError hidden notifyOldPassword messageErrorOldPassword">This field cannot be blank!!!</h3>
        </div>
        <div class="form-group">
            @Html.Label("Mật khẩu mới *", new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(model => model.PassWord, new { @class = "form-control col-md-7 col-xs-12", @type = "password", @maxlength = "14" })
                <div class="icon icon--order-success svg">
                    <svg width="40px" height="30px" class="notifyPassWord hidden">
                        <g fill="none" stroke="#FF6969" stroke-width="2">
                            <circle cx="19" cy="15" r="10" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                            <path d="m19,15l-4.3,-4.3" style="stroke-dasharray: 50px, 50px; stroke-dashoffset: 10px;"></path>
                            <path d="m19,15l4.3,4.3" style="stroke-dasharray: 50px, 50px; stroke-dashoffset: 10px;"></path>
                            <path d="m19,15l-4.3,4.3" style="stroke-dasharray: 50px, 50px; stroke-dashoffset: 10px;"></path>
                            <path d="m19,15l4.3,-4.3" style="stroke-dasharray: 50px, 50px; stroke-dashoffset: 10px;"></path>
                        </g>
                    </svg>
                </div>
            </div>
            <h3 class="messageError hidden notifyPassWord messageErrorPassWord">This field cannot be blank!!!</h3>
        </div>
        <div class="form-group">
            @Html.Label("Xác nhận lại mật khẩu mới *", new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBox("NewPassword",null ,new {@class = "form-control col-md-7 col-xs-12", @type = "password", @maxlength = "14", @id = "NewPassword" })
                <div class="icon icon--order-success svg">
                    <svg width="40px" height="30px" class="notifyNewPassword hidden">
                        <g fill="none" stroke="#FF6969" stroke-width="2">
                            <circle cx="19" cy="15" r="10" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                            <path d="m19,15l-4.3,-4.3" style="stroke-dasharray: 50px, 50px; stroke-dashoffset: 10px;"></path>
                            <path d="m19,15l4.3,4.3" style="stroke-dasharray: 50px, 50px; stroke-dashoffset: 10px;"></path>
                            <path d="m19,15l-4.3,4.3" style="stroke-dasharray: 50px, 50px; stroke-dashoffset: 10px;"></path>
                            <path d="m19,15l4.3,-4.3" style="stroke-dasharray: 50px, 50px; stroke-dashoffset: 10px;"></path>
                        </g>
                    </svg>
                </div>
            </div>
            <h3 class="messageError hidden notifyNewPassword messageErrorNewPassword">This field cannot be blank!!!</h3>
        </div>
        <div>
            <div class="col-md-12 col-sm-12 col-xs-12 center">
                <button type="submit" id="btnSave" class="btn btn-success" onclick="return ValidateUpdatePassword();">SAVE</button>
            </div>
        </div>
    }
</div>

<div id="pg-default" class="pignose-popup hidden">
    <div class="item_header">
        <span class="txt_title">Thông báo</span>
    </div>
    <div class="item_content">
        <h2>Bây giờ, bạn sẽ đăng xuất!!!<br />Hãy đăng nhập lại với mật khẩu mới!!! </h2>
        <h2 id="counter">...3...</h2>
    </div>
</div>


@* Validate input *@
<script src="~/Scripts/ValidateUpdatePassword.js"></script>
@* Popup notify *@
<script src="~/Scripts/Notify.js"></script>
@* MD5 *@
<script src="~/Scripts/jQuery-MD5.js"></script>
@* Modal *@
<link href="~/Content/Css/pignose.popup.min.css" rel="stylesheet" />
<script src="~/Scripts/Pignose.popup.min.js"></script>

<script>
    $(document).ready(function () {
        if ('@TempData["AlertMessage"]' == "Successfull!!!") {
            $('#pg-default').pignosePopup({ theme: 'orange' });
            $('#pg-default').removeClass("hidden");
            $('#pg-default').css("left", "350px");
            $("div.pignose_tint").unbind();
            var counter = 3;
            id = setInterval(function () {
                counter--;
                if (counter < 0) {
                    window.location.replace("/Admin/Home/Logout");
                    clearInterval(id);
                } else {
                    $("#counter").html("..." + counter.toString() + "...");
                }
            }, 1000);
        }
    });

    // Validate old password 
    function OldPassword() {
        if ($("#OldPassword").val() == "" || CheckEmpty($("#OldPassword").val())) {
            $(".messageErrorOldPassword").text("Không được để trống!!!");
            $(".notifyOldPassword").slideDown(250).removeClass("hidden");
            $("#OldPassword").addClass("error");
            $("#OldPassword").focus();
        }
        else {
            if ($.md5($("#OldPassword").val()).toUpperCase() != '@(((Common.Models.NhanVien)(ViewBag.employee)).PassWord)'.toUpperCase()) {
                $(".messageErrorOldPassword").text("Mật khẩu cũ nhập không đúng!!!");
                $(".notifyOldPassword").slideDown(250).removeClass("hidden");
                $("#OldPassword").addClass("error");
                $("#OldPassword").focus();
            }
            else {
                $(".notifyOldPassword").addClass("hidden");
                $("#OldPassword").removeClass("error");
            }
        }
    }

    function ValidateUpdatePassword() {
        var error = 0;
        if (($("#OldPassword").val() == "" || CheckEmpty($("#OldPassword").val()))
            || ($.md5($("#OldPassword").val()).toUpperCase() != '@(((Common.Models.NhanVien)(ViewBag.employee)).PassWord)'.toUpperCase())) {
            error++;
        }
        if ((($("#PassWord").val() == "" || CheckEmpty($("#PassWord").val())))
            || (($("#OldPassword").val() != "" && $("#PassWord").val().length < 8))) {
            error++;
        }
        if ((($("#NewPassword").val() == "" || CheckEmpty($("#NewPassword").val())))
            || (($("#NewPassword").val() != "" && ($("#NewPassword").val() != $("#PassWord").val())))) {
            error++;
        }
        if (error != 0)
            return false;
        else
            return true
    }
</script>