@model IEnumerable<Common.ViewModels.NhanVienViewModel>

@foreach (var item in Model)
{
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-12">
            Tên Đăng Nhập <span class="required">*</span>
        </label>
        <div class="col-md-10 col-sm-9 col-xs-12">
            <input type="text" name="nhanviencode" value="@item.nhanVienCode" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-12">
            Tên Nhân Viên <span class="required" style="color:red">*</span>
        </label>
        <div class="col-md-10 col-sm-9 col-xs-12">
            <input type="text" name="tennhanvien" value="@item.tenNhanVien" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-12">
            Email <span class="required">*</span>
        </label>
        <div class="col-md-10 col-sm-9 col-xs-12">
            <input type="text" name="email" value="@item.email" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-12">
            Địa Chỉ <span class="required">*</span>
        </label>
        <div class="col-md-10 col-sm-9 col-xs-12">
            <input type="text" name="diachi" value="@item.diaChi" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-12">
            Số Điện Thoại <span class="required">*</span>
        </label>
        <div class="col-md-10 col-sm-9 col-xs-12">
            <input type="text" name="sodienthoai" value="@item.soDienThoai" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-12">
            CMND <span class="required">*</span>
        </label>
        <div class="col-md-10 col-sm-9 col-xs-12">
            <input type="text" name="cmnd" value="@item.CMND" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-12">
            Chức Vụ <span class="required">*</span>
        </label>
        <div class="col-md-10 col-sm-9 col-xs-12">
            @Html.DropDownList("machucvu", new SelectList(ViewBag.chucvu, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">

        <label class="control-label col-md-2 col-sm-3 col-xs-12">
            Trạng Thái <span class="required">*</span>
        </label>
        <div class="col-md-10 col-sm-9 col-xs-12">
            @Html.DropDownList("trangthai", new SelectList(@ViewBag.data, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>
}