@using PagedList.Mvc
@model PagedList.IPagedList<Common.ViewModels.PhieuNhapKhoViewModel>
@using Common.Ultil

<table class="table table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayName("Số Phiếu Nhập Kho")
            </th>
            <th>
                @Html.DisplayName("Ngày Nhập Kho")
            </th>
            <th>
                @Html.DisplayName("Tên Nhân Viên")
            </th>
            <th>
                @Html.DisplayName("Nhà Cung Cấp")
            </th>
            <th>
                @Html.DisplayName("Tổng Tiền (VND)")
            </th>
            <th>
                @Html.DisplayName("Ghi Chú")
            </th>
            <th>
                @Html.DisplayName("Trạng Thái")
            </th>
            <th class="width-10">
                Hành động
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            FormatNumber number = new FormatNumber();
            <tr style="text-align:center">
                <td>@item.soPhieuNhapKho</td>
                <td>@item.ngayNhapKho.ToString("dd/MM/yyyy")</td>
                <td>@item.tenNhanVien</td>
                <td>@item.tenNhaCungCap</td>
                <td>@number.FormatNumbers(@item.tongTien.ToString())</td>
                <td>@item.ghiChu</td>
                @if (@item.trangThai == true)
                {
                    <td>Hoàn thành</td>
                }
                else
                {
                    <td>Đã hủy</td>
                }          
                <td>
                    <div class="btn-group">
                        <a href="@Url.Action("Detail", new { id = item.soPhieuNhapKho })" class="btn btn-default">
                            <i class="fa fa-eye"></i> Xem
                        </a>
                        @if ((@item.ngayNhapKho.Month >= @DateTime.Now.Month) && (@item.ngayNhapKho.Year == @DateTime.Now.Year))
                        {
                            <a href="@Url.Action("Delete", new { id = item.soPhieuNhapKho })" class="btn btn-default">
                                <i class="fa fa-remove" aria-hidden="true"></i> Hủy
                            </a>
                        }                            
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pull-left">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</div>
<div class="pull-right">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

<script src="~/Scripts/bootstrap.min.js"></script>